flows.json
[
    {
        "id": "6da603c587a98dd4",
        "type": "tab",
        "label": "working dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c6959ba666afb15e",
        "type": "inject",
        "z": "6da603c587a98dd4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "0964cbd9b3f0ad60"
            ]
        ]
    },
    {
        "id": "0964cbd9b3f0ad60",
        "type": "ui_switch",
        "z": "6da603c587a98dd4",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "67b8708157ace988",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "a30d7aec7a29b08f"
            ]
        ]
    },
    {
        "id": "cfe36c0e17e4d42c",
        "type": "switch",
        "z": "6da603c587a98dd4",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "core_1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "core_2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "core_3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "core_4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "ea28318976dedc8e",
                "d559f58dc173eebf"
            ],
            [
                "8f0ba07786599e47",
                "5cb3906dfc2448d1"
            ],
            [
                "bc43ab3da131b069",
                "5d478e687dc142e8"
            ],
            [
                "e6fe8a63a9d32d35",
                "182c3e198c3b7872"
            ]
        ]
    },
    {
        "id": "a30d7aec7a29b08f",
        "type": "function",
        "z": "6da603c587a98dd4",
        "name": "function 1",
        "func": "if(msg.payload===false)\n    return null;\nelse\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            [
                "98c6d63228121ded"
            ]
        ]
    },
    {
        "id": "ea28318976dedc8e",
        "type": "switch",
        "z": "6da603c587a98dd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "4f08ece204eef288"
            ]
        ]
    },
    {
        "id": "8f0ba07786599e47",
        "type": "switch",
        "z": "6da603c587a98dd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bc43ab3da131b069",
        "type": "switch",
        "z": "6da603c587a98dd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "b8a39fd84768cf81"
            ]
        ]
    },
    {
        "id": "98c6d63228121ded",
        "type": "cpu",
        "z": "6da603c587a98dd4",
        "name": "CPU",
        "msgCore": true,
        "msgOverall": false,
        "msgArray": false,
        "msgTemp": false,
        "x": 650,
        "y": 120,
        "wires": [
            [
                "b40f1af8f01b3136",
                "cfe36c0e17e4d42c"
            ]
        ]
    },
    {
        "id": "b40f1af8f01b3136",
        "type": "ui_chart",
        "z": "6da603c587a98dd4",
        "name": "",
        "group": "230586f51dd65bea",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5cb3906dfc2448d1",
        "type": "ui_gauge",
        "z": "6da603c587a98dd4",
        "name": "",
        "group": "b216e4363ae93f4e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU 2",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "182c3e198c3b7872",
        "type": "ui_gauge",
        "z": "6da603c587a98dd4",
        "name": "",
        "group": "b216e4363ae93f4e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "d559f58dc173eebf",
        "type": "ui_gauge",
        "z": "6da603c587a98dd4",
        "name": "",
        "group": "b216e4363ae93f4e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU 1",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 310,
        "y": 380,
        "wires": []
    },
    {
        "id": "5d478e687dc142e8",
        "type": "ui_gauge",
        "z": "6da603c587a98dd4",
        "name": "",
        "group": "b216e4363ae93f4e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU 3",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "1764040770528469",
        "type": "ui_toast",
        "z": "6da603c587a98dd4",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 930,
        "y": 580,
        "wires": []
    },
    {
        "id": "129f40986ae39be7",
        "type": "ui_toast",
        "z": "6da603c587a98dd4",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "d8cbcbbb9e1d187e",
        "type": "ui_toast",
        "z": "6da603c587a98dd4",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 450,
        "y": 580,
        "wires": []
    },
    {
        "id": "894d1cd8f68d0e9e",
        "type": "ui_toast",
        "z": "6da603c587a98dd4",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 190,
        "y": 580,
        "wires": []
    },
    {
        "id": "e6fe8a63a9d32d35",
        "type": "switch",
        "z": "6da603c587a98dd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 320,
        "wires": [
            [
                "2f6c028010d39deb"
            ]
        ]
    },
    {
        "id": "4f08ece204eef288",
        "type": "template",
        "z": "6da603c587a98dd4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert CPU core_1: {{payload}}%\n{{!-- This is the payload: {{payload}} ! --}}",
        "output": "str",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "894d1cd8f68d0e9e"
            ]
        ]
    },
    {
        "id": "ceab3af0df399643",
        "type": "template",
        "z": "6da603c587a98dd4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{!-- This is the payload: {{payload}} ! --}}\nAlert cpu2 use kar raha : {{payload}}%",
        "output": "str",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "d8cbcbbb9e1d187e"
            ]
        ]
    },
    {
        "id": "b8a39fd84768cf81",
        "type": "template",
        "z": "6da603c587a98dd4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the usage of cpu 3: {{payload}} !",
        "output": "str",
        "x": 600,
        "y": 480,
        "wires": [
            [
                "129f40986ae39be7"
            ]
        ]
    },
    {
        "id": "2f6c028010d39deb",
        "type": "template",
        "z": "6da603c587a98dd4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "cpu 4 {{payload}} !",
        "output": "str",
        "x": 760,
        "y": 480,
        "wires": [
            [
                "1764040770528469"
            ]
        ]
    },
    {
        "id": "67b8708157ace988",
        "type": "ui_group",
        "name": "on/off",
        "tab": "7a802579d95c6f27",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "230586f51dd65bea",
        "type": "ui_group",
        "name": "chart",
        "tab": "7a802579d95c6f27",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b216e4363ae93f4e",
        "type": "ui_group",
        "name": "gauge",
        "tab": "7a802579d95c6f27",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a802579d95c6f27",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]